/out/production/ControlWork/Task3/Action.class
/out/production/ControlWork/Task4/Action.class
/out/production/ControlWork/Task1/Cat.class
/out/production/ControlWork/Task2/Cat.class
/out/production/ControlWork/Task3/Cat.class
/out/production/ControlWork/Task4/Cat.class
/out/production/ControlWork/Task1/Main.class
/out/production/ControlWork/Task2/Main.class
/out/production/ControlWork/Task3/Main.class
/out/production/ControlWork/Task4/Main.class
